/*
use for making WebLibrary header
necessary to put everything else into <main>

template:

<header>
    <div onclick="window.location.href='/'">
        <img src="/book.ico" class="book-icon">WebLibrary
    </div>
    
    <hr style="margin-top: 0px;">
</header>

<main>
    <!-- everything else -->
</main>

*/

body {
    margin: 0px;
    padding: 0px;
}

main {
    margin: 8px;
    padding: 30px;
}

header {
    font-family: 'Comic Sans MS', 'Segoe UI', sans-serif;
    font-size:x-large;
    background-color: var(--dark-bg-color);
}

header>div {
    display: inline-flex;
    align-items: flex-end;

    cursor: pointer;

    padding: 5px;
}

