#chapter {
    position: absolute;
    
    left: 50%;
    transform: translateX(-50%);
    font-size: large;
}

header {
    display: flex;
    align-items: flex-end;
}

.chapter-select {
    margin-bottom: 0px;
}
